@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    /*=========== Color Variables =============*/
    --clr-primary: #D9525E;
    --clr-secondary: #B4D966;


    --clr-bg-primary: #303036;
    --clr-bg-secondary: #F2F2F2;
    /*====== Font Weight Variables =====*/
    --font-wght-thin: 100;
    --font-wght-light: 300;
    --font-wght-regular: 400;
    --font-wght-medium: 500;
    --font-wght-bold: 700;
    --font-wght-black: 900;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    /* To Keep Footer At Bottom */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


/*==================== Common Properties =======================*/

a{
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: var(--font-wght-bold);
}


.primaryBtn{
    background-color: var(--clr-primary);
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.primaryBtn:hover{
    /* color:#FFE4E3; */
    background-color:transparent !important;
    outline: 1px solid var(--clr-primary) !important;
    color: var(--clr-primary);
}

.container{
    max-width: min(90%,1500px);
}



/*================== Header CSS ======================*/

header{
    /* background-color: #f1f4ff; */
    background-color: var(--clr-bg-primary);
    color: #fff;
}


            /*=================== Currency Converter Menu =======================*/

.navbar{
    margin-bottom: 0px;
}

.currencySelectContainer{
    position: relative;
}

.currencySelect{
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    background-color: var(--clr-bg-primary);
    color: #fff;
    padding: 0.5em 1em;
}

.currencySelect option {
    background-color: var(--clr-bg-primary);
    color: #fff !important;
}

.currencySelectContainer span{
    position: absolute;
    top: 12%;
    right: 3%;
    color: #fff;
    pointer-events: none;
    margin-right: 5px;
}

.currencySelectContainer:hover .currencySelect,.currencySelectContainer:hover span{
    color: rgba(200,200,200);
}


            /*================= Top Links CSS ==================*/
.topLinks a{
    color: #fff;
}

.topLinks a:hover,.topLinks a:active{
    color: rgb(200, 200, 200);
}



/*========================= Main Section CSS ================================*/

            /*=================== Navbar Section CSS ======================*/

.navbarContainer{
    background-color: var(--clr-bg-secondary);
    /* background-color: #00C6CF; */
    /* background-color: #36c8ce; */
}

.navbar{
    padding: 0.5em 0;
}

.navbar-brand img{
    height: 3rem;
}

.searchForm{
    border-radius: 5px 0px 0px 5px;
    width: 25rem;
    box-shadow: none !important;
}

.searchBtn{
    font-size: 13px;
}

.userIcons a{
    font-size: 1.3rem;
    color: rgb(80 79 79);
}

.userIcons a:hover{
    color: black;
}


            /*=============== Nav-Link Section CSS =================*/

.navLinksContainer{
    background-color: #615252;
    border-radius: 5px 5px 0 0;
    height: auto;
}

.navLinks > li{
    padding: 0.2em 1em;
    cursor: pointer;
}

.navLink{
    /* color: #000; */
    color: #fff;
    font-size: 1.1rem;
    font-weight: var(--font-wght-medium);
}

.navLinks > li:hover{
    background-color: rgba(0,0,0,0.2)
}

.navLinks > li:hover .navLink{
    color: #BFBFBF;
}

.categoryList{
    position: relative;
}

.categoryDropDown{
    position: absolute !important;
    top: 100%;
    left:0;
    background-color: var(--clr-bg-secondary);
    border-radius:0;
}

.categoryList:hover .categoryDropDown{
    display: block;
}

.categoryDropDown .categoryItem{
    border-bottom: 1px solid rgb(212, 205, 205);
}

.categoryDropDown .categoryItem i{
    opacity: 0;
    transition: 0.3s;
}

.categoryDropDown .categoryItem:hover i{
    opacity: 1;
}

.menuIcon{
    font-size: 1.5rem;
    color: #000000;
}


            /*==================== Menu OffCanvas Section CSS =====================*/
.offcanvas{
    background-color: var(--clr-bg-secondary);
}

.menuOffcanvas{
    max-width: 80%;
}

.resMenuSection{
    display: flex;
    flex-direction: column;
}

.resNavLink{
    font-size: 22px;
    padding: 0.5em 0em;
    border-bottom: 1px solid;
    color: #000 !important;
    font-weight: var(--font-wght-medium);
}

.resNavLink:active{
    color: rgb(80 79 79) !important;
}

.resNavLink > i{
    margin-left: 1%;
}

.resCategoryDropdown{
    display: none;
    flex-direction: column;
    transition: 0.3s;
}

.resCategoryDropdown a{
    font-size: 23px;
    color: #000 !important;
}

.categoryIcons{
    width: 40px;
    text-align: center;
    font-size: 18px;
}

.canvasFooter{
    display: flex;
    flex-direction: row;
}



/*============== Weather App Section ===============*/
.weatherSection{
    background-color: #dbdbdb;
    width: 100px;
    height: 35px;
    top:0;
    right:0;
    border-radius: 0px 0px 0 5px;
}

#weatherImage img{
    height: 100%;
}

#temperature{
    font-weight: var(--font-wght-bold);
}

/*================= Footer Section CSS ===================*/

footer{
    background-color: var(--clr-bg-primary);
    color: white;
    padding-top: 50px;
    margin-top: 50px;
}

footer h4{
    margin-bottom: 20px;
    color: #CFA716;
}

.footerLogo,.social,.newsletter{
    margin-bottom: 30px;
}

.footerLogo img{
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom:30px;
}

.footerLogo a{
    display: block;
    color: #fff;
    text-align:left;
}

.social p{
    font-size: 1.1rem;
}

.social i{
    margin-right: 10px;
}

.socialIcons i{
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.4s ease-out;
}

.socialIcons i:hover{
    transform: scale(1.4);
}

.fa-facebook-f:hover{
    color: 	#4267B2;
}

.fa-instagram:hover{
    color: #8a3ab9;
}

.fa-twitter:hover{
    color:#00acee;
}

.fa-youtube:hover{
    color: #FF0000;
}


.newsletter p{
    margin-bottom: 20px;
    color: #a8a8a8;
}

#scrollTopBtn{
    position: fixed;
    bottom: 6%;
    right: 3%;
    visibility: hidden;
}

#scrollTopBtn button{
    border: 0;
    outline: none;
    box-shadow: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #E42529;
    color: white;
    z-index: 1000;
    font-size: 20px;
}

#scrollTopBtn button::before{
    content: "Scroll to Top";
    position: absolute;
    display: block;
    width: min-content;
    line-height: 14px;
    margin-top: -5px;
    margin-left: -45px;
    font-size: 14px;
    color: #1F4985;
    font-weight: bold;
    opacity: 0;
}

#scrollTopBtn button:hover::before{
    opacity: 1;
}

/* Media Queries */

/*=============== For Large Breakpoints ==================*/
@media screen and (max-width:992px) {
    /* Navbar */
    .navbar-brand img{
        height: 2.5rem;
    }
    .searchForm{
        width: 15rem;
    }
}

/*=============== For Medium Breakpoints ==================*/
@media screen and (max-width:768px) {
    /* Navbar */
    header{
        display: none;
    }

    .navbar{
        padding: 1em 0; 
    }
    
    .userIcons{
        display: none;
    }
    /* Weather Section */
    .weatherSection{
        display: none;
    }
}

@media screen and (max-width:576px) {

    /* Navbar */
    .navbar-brand img{
        height: 2.3rem;
    }
    /* Offcanvas Section */
    .menuOffcanvas{
        max-width: 100%;
    }

}
