@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    /*=========== Color Variables =============*/
    --clr-primary: #D9525E;
    --clr-secondary: #B4D966;


    --clr-bg-primary: #303036;
    --clr-bg-secondary: #F2F2F2;
    /*====== Font Weight Variables =====*/
    --font-wght-thin: 100;
    --font-wght-light: 300;
    --font-wght-regular: 400;
    --font-wght-medium: 500;
    --font-wght-bold: 700;
    --font-wght-black: 900;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: auto;


    /* To Keep Footer At Bottom */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


/*==================== Common Properties =======================*/

a{
    text-decoration: none;
}

.primaryBtn{
    background-color: var(--clr-primary);
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
}

.primaryBtn:hover{
    color:#FFE4E3;
}

.container{
    max-width: min(90%,1500px);
}



/*================== Header CSS ======================*/

header{
    /* background-color: #f1f4ff; */
    background-color: var(--clr-bg-primary);
    color: #fff;
}


            /*=================== Currency Converter Menu =======================*/

.navbar{
    margin-bottom: 0px;
}

.currencySelectContainer{
    position: relative;
}

.currencySelect{
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    background-color: var(--clr-bg-primary);
    color: #fff;
    padding: 0.5em 1em;
}

.currencySelect option {
    background-color: var(--clr-bg-primary);
    color: #fff !important;
}

.currencySelectContainer span{
    position: absolute;
    top: 12%;
    right: 3%;
    color: #fff;
    pointer-events: none;
    margin-right: 5px;
}

.currencySelectContainer:hover .currencySelect,.currencySelectContainer:hover span{
    color: rgba(200,200,200);
}


            /*================= Top Links CSS ==================*/
.topLinks a{
    color: #fff;
}

.topLinks a:hover,.topLinks a:active{
    color: rgb(200, 200, 200);
}



/*========================= Main Section CSS ================================*/

            /*=================== Navbar Section CSS ======================*/

.navbarContainer{
    background-color: var(--clr-bg-secondary);
}

.navbar{
    padding: 0.5em 0;
}

.navbar-brand img{
    height: 3rem;
}

.searchForm{
    border-radius: 5px 0px 0px 5px;
    width: 25rem;
    box-shadow: none !important;
}

.searchBtn{
    font-size: 13px;
}

.userIcons a{
    font-size: 1.3rem;
    color: rgb(80 79 79);
}

.userIcons a:hover{
    color: black;
}


            /*=============== Nav-Link Section CSS =================*/

.navLinksContainer{
    /* background-color: #BFBFBF; */
    background-color: #615252;
    border-radius: 5px 5px 0 0;
    height: auto;
}

.navLinks > li{
    padding: 0.5em 1em;
    cursor: pointer;
}

.navLink{
    /* color: #000; */
    color: #fff;
    font-size: 1.1rem;
    font-weight: var(--font-wght-medium);
}

.navLinks > li:hover{
    background-color: rgba(0,0,0,0.2)
}

.navLinks > li:hover .navLink{
    color: #BFBFBF;
}

.categoryList{
    position: relative;
}

.categoryDropDown{
    position: absolute !important;
    top: 100%;
    left:0;
}

.categoryList:hover .categoryDropDown{
    display: block;
}

.menuIcon{
    font-size: 1.5rem;
    color: #000000;
}


            /*==================== Menu OffCanvas Section CSS =====================*/
.offcanvas{
    background-color: var(--clr-bg-secondary);
}

.menuOffcanvas{
    max-width: 80%;
}

.resMenuSection{
    display: flex;
    flex-direction: column;
}

.resNavLink{
   padding: 0.5em 0em;
   border-bottom: 1px solid;
   color: #000 !important;
   font-weight: var(--font-wght-medium);
}

.resNavLink:active{
    color: rgb(80 79 79) !important;
}

.resNavLink > i{
    margin-left: 1%;
}

.resCategoryDropdown{
    display: flex;
    flex-direction: column;
}

.resCategoryDropdown a{
    font-size: 18px;
    color: #000 !important;
}

.categoryIcons{
    width: 40px;
    text-align: center;
    font-size: 18px;
}

.canvasFooter{
    display: flex;
    flex-direction: row;
}


/*================= Footer Section CSS ===================*/

footer{
    background-color: var(--clr-bg-primary);
    color: white;
    padding-top: 50px;
    margin-top: 500px;
}

footer h4{
    margin-bottom: 20px;
    color: #CFA716;
}

/* .footerLogo,.social{
    border-right: 1px solid #fff;
} */


.footerLogo,.social,.newsletter{
    margin-bottom: 30px;
}

.footerLogo img{
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom:30px;
}

.footerLogo a{
    display: block;
    color: #fff;
    text-align:left;
}

.social p{
    font-size: 1.1rem;
}

.social i{
    margin-right: 10px;
}

.socialIcons i{
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.4s ease-out;
}

.socialIcons i:hover{
    transform: scale(1.4);
}

.fa-facebook-f:hover{
    color: 	#4267B2;
}

.fa-instagram:hover{
    color: #8a3ab9;
}

.fa-twitter:hover{
    color:#00acee;
}

.fa-youtube:hover{
    color: #FF0000;
}


.newsletter p{
    margin-bottom: 20px;
    color: #a8a8a8;
}