/*=============== Carousel Section CSS ================*/

.offerBanner{
    margin-top: -16px;
    margin-bottom: 60px;
}

.banners{
    height: 350px;
    width: 100%;
}


/*=================== Category Section ====================*/

.categoryHeading{
    font-weight: var(--font-wght-bold);
}

.categoryHeading::after{
    content:"";
    display:block;
    width: 480px;
    margin-inline: auto;
    height: 5px;
    background-color: #00C6CF;
}

.productSection .row{
    background-color:#F7F7F7;
}

.categoryImg{
    margin-block: 50px;
}

.categoryImg img{
    height: 200px;
}

.categoryImg p{
    font-size: 20px;
    color: #000000;
    font-weight: var(--font-wght-medium);
}


/*=================== Deal of the Day Section ===================*/

/* .dealImage{
    background-image: url(../images/dealImage.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    position: relative;
    box-shadow: inset 0px 0px 0px 1000px rgba(0,0,0,0.3);
}

.dealHeading{
    color: white;
    padding-top: 50px;
}

.dealHeading::after{
    content: "";
    display:block;
    margin: 0 auto;
    background-color:white;
    width: 200px;
    height: 3px;
} */

.dealHeading::after{
    content:"";
    display:block;
    width: 220px;
    margin-inline: auto;
    height: 5px;
    background-color: #00C6CF;
}

.dealSection{
    /* z-index: 2;
    position: absolute;
    top: 90%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* height: 450px; */
    margin-top: 200px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
    padding: 30px;
}

.dealTimer ul{
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
}

.dealTimer span{
    font-size: 40px;
    border-radius: 50%;
    /* background-color: rgb(146, 141, 141); */
    border: 1px solid #bbb;
    margin-right: 3%;
    font-weight: var(--font-wght-bold);
}

.dealTimer li{
    font-size: 20px;
    font-weight: var(--font-wght-light);
}

.dealProductImage{
    height: 400px;
}

.btnDeal{
    border-radius: 40px;
}



/*=================== Promise Section ===================*/

.promise{
    margin: 50px 0;
    border: 2px solid rgba(0,0,0,0.1);
    width: 320px;
    height: 100px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
}

.promise i{
    font-size: 30px;
    color: var(--clr-primary);
    width: 30%;
    text-align: center;
}

.promise span{
    display: block
}

.promiseHeading{
    font-size: 19px;
    font-weight: var(--font-wght-bold);
    text-transform: uppercase;
}

.promiseSubheading{
    font-weight: var(--font-wght-light);
}