/* .listingContainer{
    margin-top: -15px;
} */

.filterSection h4{
    font-weight: var(--font-wght-light);
    color: #333;
    border-bottom: 1px solid #E5E5E5; 
}

.productListSection{
    border-top: 1px solid green;
    border-left: 1px solid green;
}

.filterDiv:not(:first-of-type){
    border-top: 2px solid rgb(196, 190, 190);
}

.filterDiv{
    padding: 10px 0;
}

.filterTitle{
    font-weight: var(--font-wght-bold);
}

.filterDiv label{
    font-size: 15px;
}