/*=============== For Extra Large Breakpoints ==================*/
@media screen and (max-width:1200px) {
    
}

/*=============== For Large Breakpoints ==================*/
@media screen and (max-width:992px) {
    .navbar-brand img{
        height: 2.5rem;
    }
    .searchForm{
        width: 15rem;
    }
    .dealTimer ul{
        display:flex;
        justify-content:space-between;
        padding-top: 20px;
        text-align:center;
    }
    .dealSection{
        top: 100%;
        left: 50%;
        padding: 20px;  
    }
    .dealProductImage{
        height: 350px;
    }
}

/*=============== For Medium Breakpoints ==================*/
@media screen and (max-width:768px) {
    header{
        display: none;
    }

    .navbar{
        padding: 1em 0; 
    }
    
    .userIcons{
        display: none;
    }
    .banners{
        height: 300px;
    }
    .dealHeading{
        padding-top: 30px;
    }
    .dealSection{
        top: 130%;
        left: 50%;
        padding: 0px;  
    }
    .dealProductImage{
        height: 300px;
    }
    .dealDetails{
        padding: 30px;
    }
    .categoryHeading::after{
        width: 420px;
    }
    .categoryImg img{
        height: 150px;
    }
    .promise{
        width: 240px;
    }
}

/*=============== For Small Breakpoints ==================*/
@media screen and (max-width:576px) {
    .navbar-brand img{
        height: 2.3rem;
    }
    .dealTimer span{
        font-size: 35px;
    }
    .dealTimer li{
        font-size: 16px;
    }
    .categoryHeading::after{
        width: 80%;
    }
    .promise{
        width: 220px;
    }
    .promise i{
        width: 25%;
    }
    .menuOffcanvas{
        max-width: 100%;
    }
}

/*=============== For Extra Small Breakpoints ==================*/
@media screen and (max-width:0px) {
    
}